aiogram==2.25.1
aiohttp==3.8.6
aiosignal
anyio
async-timeout
attrs
Babel
certifiъ
charset-normalizer
exceptiongroup
fastapi
frozenlist
idna
magic-filter
multidict
pydantic
pytz
sniffio
starlette
typing-extensions
yarl
asyncpg 
