aiofiles
aiogram
aiohttp
aiosignal
annotated-types
anyio
asgiref
async-timeout
asyncio
attrs
Babel
blinker
certifi
chardet
charset-normalizer
click
colorama
exceptiongroup
fastapi
Flask
frozenlist
hpack
httpcore
httptools
hyperframe
idna
itsdangerous
Jinja
magic-filter
MarkupSafe
multidict
pydantic
pydantic_core
python-dotenv
pytz2024.1
requests2.32.0
requests-async
rfc3986
sniffio
starlette
typing_extensions
urllib
uvicorn
websockets
Werkzeug
yarl
